<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<header>
    <h1>{{title}}</h1>
    <div class="nav-header">
        <a href="#" class="navheader-button">Button</a>
        <a href="#" class="navheader-button">Button</a>
        <a href="#" class="navheader-button">Button</a>
    </div>
</header>